<div class="left-starter">
    <h1>Pages</h1>
    <div class="row">
        <div class="col-md-8 leftHand">
            <p>Manage pages</p>
        </div>
        <div class="col-md-4 rightHand">
            <a href="/admin/page/create" class="btn btn-primary">Create</a>
        </div>
    </div>
    <br>
        <table class="table">
            <thead class="thead">
            <tr>
                <th>#</th>
                <th>Page</th>
                <th>Summary</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(pages, function (page) { %>
            <tr>
                <th scope="row"><%= page.id %></th>
                <td><%= page.title %></td>
                <td><%= page.summary %></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    <div style="text-align: center; width: 100%">
    <nav aria-label="...">
        <ul class="pagination">

            <!-- PREVIOUS BUTTON -->

            <% if(UtilService.isPrevious(pageCount, req)) { %>
                <li class="page-item">
                    <a class="page-link" href="/admin/page?page=<%= req.param('page') - 1 %>">Previous</a>
                </li>
            <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            <% } %>

            <!-- PAGE LINK LOOP -->

            <% for(var i=1;i<=pageCount;i++) { %>
            <li class="page-item<% if(req.param('page', 1) == i) {%> active <% } %>"><a class="page-link " href="/admin/page?page=<%= i %>"><%= i %></a></li>
            <% } %>

            <!-- NEXT BUTTON -->

            <% if(UtilService.isNext(pageCount, req)) { %>
                <li class="page-item">
                    <a class="page-link" href="/admin/page?page=<%- parseInt(req.param('page', 1)) + 1 %>">Next</a>
                </li>
            <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            <% } %>
        </ul>
    </nav>

        <p>
          <%= pages.length %> items of <%= count %> total.
        </p>
    </div>
</div>